*
  {
    box-sizing: border-box;
    text-decoration: none;
  }
  h1
  {
    font-family: "shrikhand", sans-serif;
    font-size: 2em;
    margin-left: 23%;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  h2,h3,p
  {
    font-family: "roboto", sans-serif;
    font-size: 1em;
  }
  h4
  {
    font-family: "roboto", sans-serif;
    font-size: 0.8em;
  }
  body
  {
    max-width: 420px;
    margin: 0px;
    padding: 0px;
    background-color: rgb(246, 246, 246);
  }
/*-------------------------------------------------RETURN*/
#oh
  {
    width: 100%;
    position: relative;
  }
    .oh h1
    {
      display: flex;
      justify-content: center;
    }
    p.ohmyfood
    {
      display: flex;
      justify-content: center;
    }
    .fa-arrow-left
    {
      color: black;
      position: absolute;
      left: 20px;
      top: 25px;
    }

/*------------------------------------------------DRAWING*/

#drawing img
{
  width: 100%;
  height: 250px;
  object-fit: cover;
}

/*----------------------------------------------TITLE*/
#title, #starters, #dishes, #desserts, #explo
{
  background: rgb(246, 246, 246);
}
#title
{
  position: relative;
}
  .title
  {
    display: flex;
    align-items: center;
  }
  .title h1
  {
    margin-left: 10px;
  }
  .title i
  {
    position: absolute;
    right: 20px;
  }

#menu
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  .first
  {
    width: 92%;
    height: 59px;
    display: flex;
    flex-direction: column;
    background: white;
    margin-left: 25px;
    margin-bottom: 2%;
    border-radius: 15px;
    left:-15px;
    border-left: none;
    position: relative;
  }
  .first p, i
  {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  .first h3, h4
  {
    margin: 0px;
    margin-top: 5px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
  }
  .first h4
  {
    margin-top: 5px;
    font-weight: 100;
  }


  

  /*------------------------------------STARTERS*/
  .title h2
  {
    margin: 25px 0px 25px 15px;
    font-size: 1em;
    font-weight: 100;
    border-bottom: 5px solid rgb(135, 226, 208);
      width:47px
  }
  strong
  {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 59%;
    right: 3%;
  }
  .fa-check-circle
  {
    position: absolute;
    top: 40%;
    right: 3%;
  }
/*#oh
{
  display: flex;
  align-items: center;
}*/
/*-------------------------------------------------CMD*/
#explo
{
  height: 200px;
  padding-top: 50px;
  display: flex;
  justify-content: center;
}
  .explor
  {
    display: flex;
        justify-content: center;
        align-items: center;
        background: linear-gradient( 175deg, rgb(238,116,218), rgb(157,89,220));
        width: 250px;
        height: 59px;
        border-radius: 50px;
  }
  .explor h3
    {
      color: white;
      font-weight: 500;
      font-size: 1.19em;
    }

/*-------------------------------------------------FOOTER*/

#footer
{
  width: 100%;
  height: 277px;
  background-color: rgb(53, 53, 53);
}
  .footer
  {
    margin-left: 5%;
  }
  .down
  {
    width: 100%;
    padding-top: 5px;
  }
  .bloc
  {
    width: 100%;
    height: 31px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .icon
  {
    width: 24px;
    display: flex;
    align-items: center;
  }
  .footer h1
  {
    margin: 0px;
    color: white;
  }
  p.oh
  {
    margin: 0px;
  }
  .footer a
  {
    /*font-weight: bold;*/
    color: white;
    text-decoration: none;
  }
  .footer h3
  {
    margin-left: 3px;
    color: white;
  }
  .footer i
  {
    width: 14px;
    color: white;
    border-radius: 100%;
  }
  .other
  {
    width: 100%;
    display: flex;
    flex-direction: column;

  }
  .icon p
  {
    margin: 10px;
    color: white;
  }
  .other p
  {
    margin: 5px 0px 10px 0px;
    color: white;
  }
  .other a
  {
    color: white;
    font-family: 'roboto' sans-serif;
    font-size: 1.1em;
    font-weight: 100;
  }
  .bloc p
  {
    margin-left: 10px;
    color: white;
  }