@font-face{
  font-family: "roboto", sans-serif;
  src: url('fonts/Roboto-Regular.ttf') format("OpenType");
  font-weight: 400;
}
@font-face{
  font-family: "roboto", sans-serif;
  src: url('fonts/Roboto-Regular.ttf') format("OpenType");
  font-weight: 900;
}
@font-face{
  font-family: "shrikhand", sans-serif;
  src: url('fonts/Shrikhand-Regular.ttf') format("OpenType");
  font-weight: 400;
}
@font-face{
  font-family: "Shrikhand", sans-serif;
  src: url('fonts/Shrikhand-Regular.ttf') format("OpenType");
  font-weight: 900;
}
*
{
  box-sizing: border-box;
  text-decoration: none;
}
body
{
  font-family: "shrikhand", sans-serif;
  font-size: 85%;
  margin: 0px;
  padding: 0px;
}
    /*-------------------------------------------------HEADER*/
#oh
{
  width: 100%;
}
  img
  {
    width: 50%;
  }
  p.ohmyfood
  {
    display: flex;
    justify-content: center;
  }
    /*-------------------------------------------------SEARSH*/
  #search
  {
    display: flex;
    justify-content: center;
    height: 44px;
    background-color: rgb(234, 234, 234);
  }
  #search-bar
{
    display: flex;
    align-items: center;
    background-color: rgb(234, 234, 234);
}
    .search-bar i
    {
      border-top-left-radius: 15px;
      border-bottom-left-radius: 15px;
    }
    input
    {
      border: none;
      display: flex;
      text-align: center;
      background-color: rgb(234, 234, 234);
    }

    /*-------------------------------------------------LOCALISATION*/
  #reserve
  {
    background-color: rgb(246, 246, 246);
    height: 250px;
  }
  #explo
  {
    display: flex;
    justify-content: center;
    padding-top: 4%;
  }
    .explor
    {
      display: flex;
      justify-content: center;
      align-items: center;
      background: red;
      width: 250px;
      height: 59px;
      border-radius: 50px;
    }
    .explor h3
    {
      color: white;
    }
    #res
    {
      padding-top: 9%;
      display: flex;
      justify-content: center;
      flex-direction: column;
    }
    #res h1
    {
      display: flex;
      justify-content: center;
      margin: 0px;
    }
    #res h2
    {
      display: flex;
      justify-content: center;
      margin: 0px;
    }
  button.search-bar
  {
    display: flex;
    justify-content: center;
  }
  .txt
  {
    padding-bottom: 5%;
  }
    /*-------------------------------------------------operation*/
#fonction
{
  width: 100%;
  padding-bottom: 4%;
}
    .title
    {
      margin-left: 4%;
    }
    .choise, .compo, .degust
    {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 4%;
    }
    #a
    {
      background: rgb(147, 86, 220);
      display: flex;
      justify-content: center;
      align-items: center;
      left: 0px;
      width: 6%;
      border-radius: 50px;
    }
    .number h3
    {
      display: flex;
      align-items: center;
      color: white;
    }
    #b
    {
      background: rgb(246, 246, 246);
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      width: 250px;
      height: 59px;
      border-radius: 20px;
      left:-15px;
      border-left: none;
    }

#resto
{
  background-color: rgb(246, 246, 246);
}
  .restaurants
  {
    display: flex;
    justify-content: flex-start;
    margin-left: 4%;
  }
  .restaurants h2
  {
    color: black;
  }
  .carte{
    color: #aaa;
  }
  .carte figure
  {
    width: 92%;
    height: 314px;
    margin-left: 3%;
    background-color: #ffffff;
    border-radius: 25px;
    box-shadow: 4px 4px 6px #aaa;
  }
  .carte img
  {
    width: 100%;
    height: 61%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    object-fit: cover;
    border: 2px solid #F2F2F2;
  }
.carte figcaption
{
  margin-left: 12px;
  display: flex;
  flex-direction: row;
}
i.far.fa-heart 
{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  color: black;
}
i.fas.fa-heart
{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  color: black;
}
.far.fa-heart:hover
{
  fill: rgb(193, 101, 219);
}
.carte p
{
  color: black;
}
.carte h4
{
  color: black;
  margin: 0px;
}
.carte h2
{
  padding-right: 17%;
  color: black;
}
h3
{
  margin: 0px;
  color: black;
}
.figcaption i
{
  border: 10px solid #F2F2F2;
  display: flex;
  justify-content: flex-end;
}
.text
{
  padding-left: 6%;
}

    /*-------------------------------------------------FOOTER*/

#footer
{
  width: 100%;
  background-color: rgb(53, 53, 53);
}
  .footer
  {
    
    margin-left: 5%;
  
  }
  .down
  {
    width: 100%;
    padding-top: 5px;
  }
  .bloc
  {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .icon
  {
    width: 24px;
    display: flex;
    align-items: center;
  }

  .footer a
  {
    color: white;
    text-decoration: none;
  }
  .footer img
  {
    width: 32%;
    color: white;
  }
  .footer h3
  {
    margin-left: 3px;
    color: white;
  }
  .footer i
  {
    width: 14px;
    color: white;
    border-radius: 100%;
  }
  .other
  {
    width: 100%;
    display: flex;
    flex-direction: column;
    
  }
  .icon p
  {
    margin: 10px;
    color: white;
  }
  .other p{
    color: white;
  }
  .bloc p
  {
    color: white;
  }

  /*carte*/
  #drawing img
  {
    width: 100%;
  }
  #c
  {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
  #title, #starters, #dishes, #desserts, #explo
  {
    background: rgb(246, 246, 246);
  }
  .d{
    display: flex;
      flex-direction: column;
      background: white;
      margin-bottom: 2%;
      width: 92%;
      height: 59px;
      border-radius: 15px;
      left:-15px;
      border-left: none;
  }
  .d p, i
  {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
.d h3, h4
{
  margin: 0px;
  display: flex;
  flex-direction: column;
}
  .title
  {
    display: flex;
    align-items: center;
  }
  .title h1
  {
    margin: 0px;
  }
  .title h2
  {
    margin: 0px;
  }
  #oh
  {
    display: flex;
    align-items: center;
  }
